body {
    background-color:blue ;
    color: white;
    align-items: center;
    text-align: center;
    padding: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container{
    background-color: black;
    color: white;
    padding: 2px;
    font-size: 40px;
    border-radius: 20px;
}

#btn{
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
